Imports

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Data Analysis

In [3]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
df['sex'].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [5]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [6]:
df.shape

(1338, 7)

In [7]:
df.replace({"sex":{'male':1, 'female':0}}, inplace=True)
df.replace({'smoker': {'yes':1, 'no':0}}, inplace=True)
df.replace({"region": {"southeast":0, 'southwest':1, 'northwest':2, 'northeast':3 }}, inplace=True)

In [8]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       0   1725.55230
2   28    1  33.000         3       0       0   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

Splitting and Training data

In [9]:
X = df.drop('charges', axis='columns')
y = df['charges']

In [10]:
X.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       1
1   18    1  33.770         1       0       0
2   28    1  33.000         3       0       0
3   33    1  22.705         0       0       2
4   32    1  28.880         0       0       2

In [11]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1003, 6) (335, 6) (1003,) (335,)

Training Model:
LinearRegression

In [13]:
model = LinearRegression()
model.fit(X_train, y_train) # type: ignore

LinearRegression()

Evaluation

In [14]:
test_data_accuracy = model.score(X_test,y_test)
print("test data accuracy is: ", test_data_accuracy)

test data accuracy is:  0.7505625600466853

In [15]:
train_data_accuracy = model.score(X_train,y_train)
print("train data accuracy is: ", train_data_accuracy)

train data accuracy is:  0.7502234681317635

Prediction System

In [16]:
def PredictionSystem(input):
    to_nparray = np.asarray(input)
    reshaped = to_nparray.reshape(1, -1)
    prediction = model.predict(reshaped)

    print("The insurance cost is USD ", prediction[0])

In [17]:
input_data = (31, 1, 25.74, 0, 1, 0)

PredictionSystem(input_data)

The insurance cost is USD  27321.325781778833

c:\Users\ricar\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(